[Unit]
Description=Gardenia
After=network.target

[Service]
Type=simple
ExecStartPre=/usr/bin/git pull
ExecStart=/root/.deno/bin/deno task run
WorkingDirectory=/gardenia
Restart=always

[Install]
WantedBy=default.target
RequiredBy=network.target